body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.main-navigation {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation {
  width: 440px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.user-navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.main-navigation a {
  position: relative;
  display: block;
  color: #000000;
}

.main-navigation a:focus,
.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 2px;
  background-color: #fb565a;
}

.basket {
  display: block;
  padding-left: 40px;
  position: relative;
}

.basket::before {
  content: url(../img/cart-icon.svg);
  position: absolute;
  left: 0;
  top: 1px;
}


.header-logo:hover img,
.header-logo:focus img {
  opacity: 0.8;
}

.header-logo:active img {
  opacity: 0.3;
}

.preview {
  position: relative;

  background-color: #eeeeee;
  margin-bottom: 80px;
}

.preview-slider {
  list-style: none;
  margin: 0;
  padding: 0;

  background-image:
}

.preview-item {
  display: none;
  min-height: 430px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-sizing: border-box;
  padding-top: 100px;
}

.preview-item-first {
  background-image: url(../img/slide1.png);
}

.preview-item-open {
  display: block;
}

.preview-item div {
  width: 400px;
}

.preview-item b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  padding-bottom: 10px;
}

.preview-item p {
  padding-bottom: 15px;
}

.slider-switch-panel {
  position: absolute;

  left: 50%;
  bottom: 96px;
}

.button-slide {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;

  margin-right: 17px;
}

.button-slide:last-child {
  margin-right: 0;
}

.button-slide-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 55px;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.button:focus,
.button:hover {
  background-color: #e74246;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow:active {
  background-color: #e5a722;
}

.services {
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.services-item {
  width:300px;
}

.services-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.services-item p {
  text-align: left;
}



.main-info {
  border-bottom: 2px solid #eeeeee;
  padding-top: 40px;
  padding-bottom: 80px;
}

.main-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info ul {
  list-style: none;
}

.about-info {
  width: 800px;
}

.about-info b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-info b::before {
  content: "";
}

.orders-list {
  padding: 0;
}

.orders-item {
  position: relative;
  padding-left: 40px;
}

.orders-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.result-info img {
  display: block;
}

.result-info b {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 25px;
}

.infographic {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.infographic-item {
  width: 100px;
}

.infographic-item span {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}

.infographic-item p {
  margin: 0;
}

.partner-site {
   border-bottom: 2px solid #eeeeee;
   margin-bottom: 80px;
   padding-top: 45px;

   padding-bottom: 45px;
}

.partner-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.partner-site a {
  display: block;
  opacity: 0.2
}

.partner-site a:focus,
.partner-site a:hover {
  opacity: 1;
}

.partner-site a:active {
  opacity: 0.1;
}

.map {
  display: block;
  margin: 0 auto;
}

.adress {
  margin-bottom: 70px;
}

.adress .container {
  min-height: 416px;
  margin-top: -416px;
  display: flex;
  align-items: center;
}

.feedback {
  width: 320px;
  min-height: 310px;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
}

.feedback h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.feedback a {
  padding-left: 44px;
  padding-right: 44px;
}

.footer-social-box {
  display: flex;
}

.footer-social ul {
  width: 260px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-button {
  position: relative;
  width: 79px;
  height:79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: block;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.footer-social svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

.social-button:active svg {
  fill-opacity: 0.3;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  background-color: #ffffff;

  width: 760px;
  margin-left: -480px;
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;

  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback h2{
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal-feedback label {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #d7dcde;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"] {
  box-sizing: border-box;
  width: 360px;
  padding: 15px;
  border-radius: 2px;
}

.modal-feedback textarea {
  box-sizing: border-box;
  width: 760px;
  padding: 15px;
  border-radius: 2px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  color: black;
  border: 2px solid #000000;
}

.modal-feedback input:hover::placeholder,
.modal-feedback textarea:hover::placeholder {
  color: black;
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-feedback input:hover::invalid,
.modal-feedback textarea:hover::invalid {
  color: #e74246;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-width {
  margin: 0;
  margin-bottom: 47px;
}

.half-width input {
  display: block;
  margin-top: 10px;
}

.textarea-box {
  margin-bottom: 47px;
}

.textarea-box textarea {
  margin-top: 10px;
  resize: none;
}

.modal-open {
  display: block;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 85px;
  opacity: 0.3;
  background: none;
  border: none;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}


/* catalog.html */

.catalog-container {
  margin-bottom: 60px;
}

.catalog-caption {
  background-color: #eeeeee;
  padding-bottom: 116px;
  padding-top: 80px;
}

.catalog-caption h2 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.catalog-box {
    padding-top: 60px;
}

.catalog-box-wrapper {
  display: flex;
  justify-content: space-between;
}

.sort-menu {
  font: inherit;

  align-self: flex-start;
}

.sort-menu fieldset {
  border-width: 0px;
  margin-bottom: 40px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.choice-field {
  display: flex;
  flex-direction: column;
  left-margin: 0;
  right-margin: 0;
  padding: 0;
}

.choice-field label {
  display: block;
  padding-left: 40px;
  position: relative;
}

.choice-field legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 20px;
}

.sort-field b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.choice-field label {
  color: #283136;
  margin-bottom: 20px;
}

.choice-field svg {
  position: absolute;
  left: 0;
}

.radio-on {
  display: none;
  opacity: 0.4;
}

.radio-off {
  opacity: 0.4;
}

.choice-input[type="radio"]:checked ~
.radio-off {
  opacity: 0;
}

.choice-input[type="radio"]:checked ~
.radio-on {
  display: block;
}

.choice-input:hover ~ .radio-off,
.choice-input:focus ~ .radio-off {
  opacity: 1;
}

.choice-input:disabled ~ .radio-off {
  opacity: 0.1;
}

.choice-input:hover ~ .radio-on,
.choice-input:focus ~ .radio-on {
  opacity: 1;
}

.choice-input:disabled ~ .radio-on {
  opacity: 0.1;
}

.choice-input:hover + .radio-on,
.choice-input:focus + .radio-on {
  opacity: 1;
}

.choice-input:disabled + .radio-on {
  opacity: 0.1;
}

.checkbox-on {
  display: none;
  opacity: 0.4;
}

.checkbox-off {
  opacity: 0.4;
}

.choice-input[type="checkbox"]:checked ~
.checkbox-off {
  opacity: 0;
}

.choice-input[type="checkbox"]:checked ~
.checkbox-on {
  display: block;
}

.choice-input:hover ~ .checkbox-off,
.choice-input:focus ~ .checkbox-off {
  opacity: 1;
}

.choice-input:disabled ~ .checkbox-off {
  opacity: 0.1;
}

.choice-input:hover ~ .checkbox-on,
.choice-input:focus ~ .checkbox-on {
  opacity: 1;
}

.choice-input:disabled ~ .checkbox-on {
  opacity: 0.1;
}

.choice-input:hover + .checkbox-on,
.choice-input:focus + .checkbox-on {
  opacity: 1;
}

.choice-input:disabled + .checkbox-on {
  opacity: 0.1;
}

.choice-label:hover,
.choice-label:focus {
  color: #000000;
}

.choice-label:disabled {
  color: #000000;
  opacity: 0.3;
}

.show-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  color: #959595;
  background-color: #d5d5d5;
}

.catalog-products-field {
  margin-top: 5.6px;
}

.product-cards-list {
  margin: 0;
}

.sort-field {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 43px;
}

.sort-field b {
  justify-content: flex-start;
}

.sort-list {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.sort-list a{
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active,
.button-sort-active {
  opacity: 1;
}

.sort-list li:nth-child(3) {
  margin-right: 25px;
}

.down-dir::before {
  content: url(../img/icon-down-dir.svg);
  position: absolute;
  left: -10px;
  top: 3px;
}

.up-dir::before {
  content: url(../img/icon-up-dir.svg);
  position: absolute;
  left: -10px;
  top: 3px;
}

.product-cards-list {
  width: 760px;
  padding: 0;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.product-cards-item {
  position: relative;
  width: 360px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  background-color: #e9e9e9;
}

.product-cards-item::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 16px;

  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: #fff;

  box-shadow: 25px 0 0 0 #fff,
  50px 0 0 0 #fff;
}

.product-cards-item:hover {
  padding-bottom: 0px;
  background-color: #4d4d4d;
}

.product-cards-item img {
  display: block;
  padding-top: 40px;
  margin-bottom: 0px;
}

.coast-info {
  min-height: 230px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  box-sizing: border-box;
  text-align: center;
}

.coast-info-active {
  display: flex;
}

.product-cards-item:hover > .coast-info,
.product-cards-item:focus > .coast-info {
  display: flex;
}

.coast-info b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.coast-info p {
  margin: 0;
  color: #666666;
  padding: 0 65px;
  margin-bottom: 28px;
}

.page-menu {
  width: 443px;
  display: flex;
  justify-content: space-between;
}

.button-page-item {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  padding: 10px 17px;
  border-radius: 2px;
}

.show-button {
  display: block;
  width: 260px;
  padding: 10px 0;
}

.button-page-item:hover,
.button-page-item:focus {
  background-color: #dfdfdf;
}

.button-page-item:active {
  color: #959595;
  background-color: #d5d5d5;
}

.button-page-item.active-page {
  background-color: #ffffff;
  box-shadow: inset 0 0 6px 0 #dbdbdb;
}







