body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
}

.main-navigation a {
  display: block;
  color: #000000;
}

.main-navigation a:focus,
.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.header-logo img:hover,
.header-logo img:focus {
  opacity: 0.8;
}

.header-logo img:active {
  opacity: 0.3;
}

.preview {
  background-color: #eeeeee;
}

.preview ul {
  list-style: none;
  margin: 0;
}

.preview-item b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.preview-item {
  display: none;
}

.open {
  display: block;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
}

.button:focus,
.button:hover {
  background-color: #e74246;
}

.button:active {
  color: #e37376;
  background-color: #d7373b;
}

.services {
  border-bottom: 2px solid #eeeeee;
}

.services ul {
  list-style: none;
}

.services-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.services-item p {
  text-align: left;
}

.button-order-site {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
}

.button-order-site:focus,
.button-order-site:hover {
  background-color: #e74246;
}

.button-order-site:active {
  color: #e37376;
  background-color: #d7373b;
}

.button-order-app {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #00ca74;
  border: none;
}

.button-order-app:focus,
.button-order-app:hover {
  background-color: #00bc6c;
}

.button-order-app:active {
  color: #38bd84;
  background-color: #00aa62;
}

.button-order-presentation {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;


  background-color: #efc84a;
  border: none;
}

.button-order-presentation:focus,
.button-order-presentation:hover {
  background-color: #eab534;
}

.button-order-presentation:active {
  color: #edc265;
  background-color: #e5a722;
}

.main-info {
  border-bottom: 2px solid #eeeeee;
}

.main-info ul {
  list-style: none;
}

.about-info b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-info b::before {
  content: "";
}

.result-info b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.infographic-item span {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}

.partner-site {
   border-bottom: 2px solid #eeeeee;
}

.partner-site ul {
  list-style: none;
}

.partner-site a {
  display: block;
  opacity: 0.2
}

.partner-site a:focus,
.partner-site a:hover {
  opacity: 1;
}

.partner-site a:active {
  opacity: 0.1;
}

.feedback h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social ul {
  list-style: none;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-social a {
  position: relative;
  width: 79px;
  height:79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: block;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #e74246;
}

.footer-social a:active {
  background-color: #d7373b;
}

.footer-social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-feedback {
    display: none;
}

.modal-feedback label {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #d7dcde;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  color: black;
  border: 2px solid #000000;
}

.modal-feedback input:hover::placeholder,
.modal-feedback textarea:hover::placeholder {
  color: black;
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-feedback input:hover::invalid,
.modal-feedback textarea:hover::invalid {
  color: #e74246;
}

.modal-feedback h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal-open {
  display: block;
}

.modal-feedback .modal-close {
  opacity: 0.3;
  background: none;
  border: none;
}

.modal-feedback .modal-close:hover,
.modal-feedback .modal-close:focus {
  opacity: 1;
}

.modal-feedback .modal-close:active {
  opacity: 0.1;
}


/* catalog.html */

.catalog-caption {
  background-color: #eeeeee;
}

.catalog-caption h2 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.sort-menu {
  font: inherit;
}

.sort-menu fieldset {
  border-width: 0px;
}

.sort-menu legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-field b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-field ul {
  list-style: none;
}

.choice-field label {
  color: #283136;
}

.choice-field label:hover,
.choice-field label:focus {
  color: #000000;
}

.choice-field label:disabled {
  color: #000000;
  opacity: 0.3;
}

.show-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  color: #959595;
  background-color: #d5d5d5;
}

.sort-list a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active,
.button-sort-active {
  opacity: 1;
}

.product-cards-field ul {
  list-style: none;
}

.product-cards-item {
  width: 360px;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

.product-cards-item:hover {
  padding-bottom: 0px;
  background-color: #4d4d4d;
}

.product-cards-item img {
  display: block;
  padding-top: 40px;
  margin-bottom: 0px;
}

.coast-info {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.product-cards-item:hover > .coast-info {
  display: block;
}

.coast-info b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.coast-info p {
  margin: 0;
  color: #666666;
}

.button-page-item {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.button-page-item:hover,
.button-page-item:focus {
  background-color: #dfdfdf;
}

.button-page-item:active {
  color: #959595;
  background-color: #d5d5d5;
}

.button-page-item.active-page {
  background-color: #ffffff;
  box-shadow: inset 0 0 3px 0 #dbdbdb;
}




