body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.main-navigation {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation {
  width: 438px;
  padding: 0;
  padding-top: 2px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-navigation a {
  position: relative;
  display: block;
  color: #000000;
}

.main-navigation a:focus,
.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 98%;
  height: 2px;
  background-color: #fb565a;
}

.basket {
  display: block;
  padding-left: 40px;
  position: relative;
}

.basket::before {
  content: url(../img/cart-icon.svg);
  position: absolute;
  left: 0;
  top: 1px;
}


.header-logo:hover img,
.header-logo:focus img {
  opacity: 0.8;
}

.header-logo:active img {
  opacity: 0.3;
}

.preview {
  position: relative;

  background-color: #eeeeee;
  margin-bottom: 80px;
}

.preview-slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.preview-item {
  display: none;
  min-height: 420px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 68px;
  margin-right: 30px;
}

.preview-item-first {
  background-image: url(../img/slide1.png);
}

.preview-item-second {
  background-image: url(../img/slide2.png);
}

.preview-item-third {
  background-image: url(../img/slide3.png);
}


.preview-item-open {
  display: block;
}

.preview-item div {
  width: 400px;
}

.preview-item-second div {
  width: 550px;
}

.preview-item-third div {
  width: 430px;
}

.preview-item.preview-item-second {
  margin-right: 0;
}

.preview-item.preview-item-third {
  margin-right: 0;
}

.preview-item b {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  padding-bottom: 25px;
}

.preview-item p {
  max-width: 380px;
  display: block;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 31px;
}

.preview-item-second p {
  max-width: 420px;
}

.preview-item-third p {
  max-width: 360px;
}

.button.button-preview {
  padding: 15px 55px;
}

.slider-switch-panel {
  position: absolute;

  left: 50%;
  bottom: 90px;
  margin-left: -44px;
}

.button-slide {
  position: relative;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;

  margin-right: 15px;
}

.button-slide:last-child {
  margin-right: 0;
}

.button-slide-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 3px;
  height: 3px;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 55px;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.button:focus,
.button:hover {
  background-color: #e74246;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.button-green:active {
  background-color: #00aa62;
  -webkit-box-shadow: inset 0px 3px 0 0 #009958;
          box-shadow: inset 0px 3px 0 0 #009958;
}

.button-yellow:active {
  background-color: #e5a722;
  -webkit-box-shadow: inset 0px 3px 0 0 #ce961f;
          box-shadow: inset 0px 3px 0 0 #ce961f;
}

.services {
  position: relative;
  padding-bottom: 17px;
}

.services::after {
  content: "";

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;

  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.services-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.services-item {
  width:300px;
}

.services-item:last-child {
  margin-right: 60px;
}

.services-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;

  margin: 18px 0;
}

.services-item p {
  width: 270px;
  text-align: left;
  margin-bottom: 42px;
}

.button.services-item-button {
  padding: 15px 40px;
}

.main-info {
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px;
}

.main-info::after {
  content: "";

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;

  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.main-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-info ul {
  list-style: none;
}

.about-info {
  margin-right: auto;
  width: 680px;
  padding-top: 32px;
}

.about-info b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-info b::before {
  content: "";
}

.about-info p {
  margin: 0;
  margin-top: 35px;
}

.about-info h3 {
  margin: 0;
  margin-top: 36px;
}

.orders-list {
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.orders-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
}

.orders-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.result-info {
  min-height: 430px;
}

.result-info img {
  display: block;
  margin-top: -5px;
  margin-bottom: 35px;
}

.result-info b {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.infographic {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infographic-item {
  width: 100px;
  margin-right: 20px;
}

.infographic-item:last-child {
  margin-right: 0;
}

.infographic-item span {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.infographic-item p {
  line-height: 18px;
  padding-top: 2px;
  margin: 0;
  margin-top: 15px;
}

.infographic-percent sup {
  top: -14px;
  font-size: 65%;
}

.partner-site {
  position: relative;
  margin-bottom: 80px;
  padding-top: 45px;
  padding-bottom: 39px;
}

.partner-site::after {
  content: "";

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;

  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.partner-site a {
  display: block;
  opacity: 0.2
}

.partner-site a:focus,
.partner-site a:hover {
  opacity: 1;
}

.partner-site a:active {
  opacity: 0.1;
}

.partner-item .academylogo {
  padding-top: 10px;
  padding-left: 2px;
}

.partner-item:first-child {
  position: relative;
}

.partner-item:first-child::after {
  content: "";

  position: absolute;
  right: -52px;
  top: 13px;

  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  -webkit-box-shadow: 300px 0 0 0 #eeeeee,
  600px 0 0 0 #eeeeee;
          box-shadow: 300px 0 0 0 #eeeeee,
  600px 0 0 0 #eeeeee;
}

.partner-item .borodinskilogo {
  padding-right: 6px;
}

.partner-item .pinklogo {
  padding-right: 24px;
}

.partner-item .mishkalogo {
  padding-top: 5px;
  padding-right: 14px;
}

.map {
  display: block;
  margin: 0 auto;
}

.adress {
  position: relative;
  margin-bottom: 70px;
}

.adress::after {
  content: url(../img/map-marker.png);
  position: absolute;
  top: 89px;
  left: 932px;
}

.adress .container {
  min-height: 416px;
  margin-top: -416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback {
  width: 320px;
  min-height: 308px;
  background-color: #fff;
  padding: 47px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback h3{
  margin: 0;
  margin-top: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.contacts {
  margin: 0;
  margin-top: 25px;
  font-size: 16px;
  line-height: 18px;
}

.contact-number {
  margin: 0;
  margin-top: 13px;
}

.button.button-writeus {
  display: block;
  margin-top: 34px;
  padding: 16px 0;
}

.footer-social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social ul {
  width: 260px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-button {
  position: relative;
  width: 79px;
  height:79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: block;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.footer-social svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #ffffff;
}

.social-button:active svg {
  fill-opacity: 0.3;
}

.sales-info-box {
  padding-top: 6px;
}
.social-sales {
  margin: 0;
  margin-top: 8px;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 140px;
  left: 50%;
  background-color: #ffffff;

  width: 760px;
  margin-left: -480px;
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;

  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback-show {
  display: block;
}

.modal-feedback h2{
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 40px;
  font-weight: 500;
  color: #000000;
}

.modal-feedback label {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #d7dcde;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 15px;
  border-radius: 2px;
}

.modal-feedback textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;
  padding: 13px;
  border-radius: 2px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  color: black;
  border: 2px solid #000000;
}

.modal-feedback input:hover::-webkit-input-placeholder,
.modal-feedback textarea:hover::-webkit-input-placeholder {
  color: black;
}

.modal-feedback input:hover:-ms-input-placeholder,
.modal-feedback textarea:hover:-ms-input-placeholder {
  color: black;
}

.modal-feedback input:hover::-ms-input-placeholder,
.modal-feedback textarea:hover::-ms-input-placeholder {
  color: black;
}

.modal-feedback input:hover::placeholder,
.modal-feedback textarea:hover::placeholder {
  color: black;
}

.modal-feedback input:invalid,
.modal-feedback textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-feedback input:hover::invalid,
.modal-feedback textarea:hover::invalid {
  color: #e74246;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-width {
  margin: 0;
  margin-bottom: 30px;
}

.half-width input {
  display: block;
  margin-top: 5px;
}

.textarea-box {
  margin-bottom: 45px;
}

.textarea-box textarea {
  margin-top: 4px;
  resize: none;
}

.button.button-send {
  padding: 16px 84px;
}

.modal-open {
  display: block;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 85px;
  opacity: 0.3;
  background: none;
  border: none;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}


/* catalog.html */

.catalog-container {
  margin-bottom: 60px;
}

.catalog-caption {
  background-color: #eeeeee;
  padding-bottom: 108px;
  padding-top: 67px;
}

.catalog-caption h2 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.catalog-box {
    padding-top: 55px;
}

.catalog-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-menu {
  font: inherit;

  -ms-flex-item-align: start;

      align-self: flex-start;
}

.sort-menu fieldset {
  border-width: 0px;
  margin-bottom: 30px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.choice-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-top: 55px;
}

.choice-field.choice-field-checkbox {
  margin-top: 20px;
  margin-bottom: 34px;
}

.choice-field label {
  display: block;
  padding-left: 35px;
  position: relative;
  color: #283136;
  margin-bottom: 15px;
}

.choice-field legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 15px;
}

.sort-field b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.choice-field svg {
  position: absolute;
  left: 0;
}

.radio-on {
  display: none;
  opacity: 0.4;
}

.radio-off {
  opacity: 0.4;
}

.choice-input[type="radio"]:checked ~
.radio-off {
  opacity: 0;
}

.choice-input[type="radio"]:checked ~
.radio-on {
  display: block;
}

.choice-input:hover ~ .radio-off,
.choice-input:focus ~ .radio-off {
  opacity: 1;
}

.choice-input:disabled ~ .radio-off {
  opacity: 0.1;
}

.choice-input:hover ~ .radio-on,
.choice-input:focus ~ .radio-on {
  opacity: 1;
}

.choice-input:disabled ~ .radio-on {
  opacity: 0.1;
}

.choice-input:hover + .radio-on,
.choice-input:focus + .radio-on {
  opacity: 1;
}

.choice-input:disabled + .radio-on {
  opacity: 0.1;
}

.checkbox-on {
  display: none;
  opacity: 0.4;
}

.checkbox-off {
  opacity: 0.4;
}

.choice-input[type="checkbox"]:checked ~
.checkbox-off {
  opacity: 0;
}

.choice-input[type="checkbox"]:checked ~
.checkbox-on {
  display: block;
}

.choice-input:hover ~ .checkbox-off,
.choice-input:focus ~ .checkbox-off {
  opacity: 1;
}

.choice-input:disabled ~ .checkbox-off {
  opacity: 0.1;
}

.choice-input:hover ~ .checkbox-on,
.choice-input:focus ~ .checkbox-on {
  opacity: 1;
}

.choice-input:disabled ~ .checkbox-on {
  opacity: 0.1;
}

.choice-input:hover + .checkbox-on,
.choice-input:focus + .checkbox-on {
  opacity: 1;
}

.choice-input:disabled + .checkbox-on {
  opacity: 0.1;
}

.choice-label {
  cursor: pointer;
}

.choice-label:hover,
.choice-label:focus {
  color: #000000;
}

.choice-label:disabled {
  color: #000000;
  opacity: 0.3;
}

.show-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;

  display: block;
  padding: 16px 89px;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  color: #959595;
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 3px 0 0 #bfbfbf;
          box-shadow: inset 0px 3px 0 0 #bfbfbf;
}

.catalog-products-field {
  margin-top: 3px;
}

.product-cards-list {
  margin: 0;
  margin-bottom: 27px;
}

.sort-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 51px;
}

.sort-field b {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sort-list {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.sort-list a{
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active,
.button-sort-active {
  opacity: 1;
}

.sort-list li:nth-child(3) {
  margin-right: 35px;
}

.sort-list li:nth-child(4) {
  margin-right: 5px;
}

.down-dir::before {
  content: url(../img/icon-down-dir.svg);
  position: absolute;
  left: -10px;
  top: 3px;
}

.up-dir::before {
  content: url(../img/icon-up-dir.svg);
  position: absolute;
  left: -10px;
  top: 3px;
}

.product-cards-list {
  width: 760px;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.product-cards-item {
  position: relative;
  width: 360px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  background-color: #e9e9e9;
}

.product-cards-item::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 16px;

  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: #fff;

  -webkit-box-shadow: 23px 0 0 0 #fff,
  46px 0 0 0 #fff;

          box-shadow: 23px 0 0 0 #fff,
  46px 0 0 0 #fff;
}

.product-cards-item:hover {
  padding-bottom: 0px;
  background-color: #4d4d4d;
}

.product-cards-item img {
  display: block;
  padding-top: 40px;
  margin-bottom: 0px;
}

.coast-info {
  min-height: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  margin: 0;
  padding: 26px 0;
  padding-bottom: 43px;
  background-color: #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.coast-info.coast-info-minheight {
  min-height: 228px;
  padding: 26px 0;
  padding-bottom: 40px;
}

.coast-info.coast-info-morepadding {
  padding: 26px 0;
  padding-bottom: 44px;
}

.coast-info-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-cards-item:hover > .coast-info,
.product-cards-item:focus > .coast-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coast-info b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: auto;
}

.coast-info p {
  box-sizing: border-box;
  max-width: 100%;

  line-height: 18px;
  margin: 0;
  color: #666666;
  padding: 0 80px;
  padding-bottom: 15px;
}

.coast-info-paragraph.pink-paragraph {
  padding: 0 65px;
  padding-bottom: 15px;
}

.coast-info-paragraph.aplus-paragraph {
  padding: 0 60px;
  padding-bottom: 15px;
}

.coast-info-paragraph.kvast-paragraph {
  padding: 0 60px;
  padding-bottom: 15px;
}

.button.button-coast-info {
  margin-top: auto;
  padding: 16px 63px;
}

.page-menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-page-item {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  padding: 10px 20px;
  padding-top: 17px;
  padding-left: 21px;
  border-radius: 2px;
  margin-right: 11px;
}

.button-page-item: active {
  -webkit-box-shadow: inset 0px 3px 0 0 #bfbfbf;
          box-shadow: inset 0px 3px 0 0 #bfbfbf;
}

.next-page-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;

  display: block;
  padding: 15px 78px;
  padding-top: 17px;
}

.next-page-button: active {
  -webkit-box-shadow: inset 0px 3px 0 0 #bfbfbf;
          box-shadow: inset 0px 3px 0 0 #bfbfbf;
}

.button-page-item:hover,
.button-page-item:focus {
  background-color: #dfdfdf;
}

.button-page-item:active {
  color: #959595;
  background-color: #d5d5d5;
}

.button-page-item.active-page {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 6px 0 #dbdbdb;
          box-shadow: inset 0 0 6px 0 #dbdbdb;
}
